body{
    background-image: url("../pic/pic/backGround.jpg");
    background-size: 100% auto ;
            text-align: center;
            position: relative;
}

div{
    position: relative;
    align-items: end;
    border-radius: 20px;
    padding-top: 10%;
    padding: 1%;
    width: 60%;
    margin-left: 20%;
    background-color: white;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: xx-large;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: #4a4f4f
    
}

#sub{
    width: 20%;
    background-color: #dc97a9;
    font-weight: 100;
    font-size: large;
}

#sub:hover{
    background-color: #addad7;
    cursor: pointer;
}

input, textarea{ 
  margin-left: 90%;
  padding-left: 1%;
    width: 45%;
    border-radius:25px;
    height: 50px;
    margin: 10px;
    background-color: #e6e6e6;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    outline: none;
    font-size: 15px;
}
/* #logo{
    width: 40%;
    margin-left: 20%;
    padding: 2%;
    position: relative;
    z-index: 3;
} */

textarea{
    height: 120px;
}

#divTxt { 
    margin-bottom: 10%;
    width: 100%;
}

#idContact {
    cursor: pointer;
    color: #dc97a9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7),
        5px 5px 1px #f2cb7c,
        6px 6px 2px rgba(0, 0, 0, 0.7),
        10px 10px 1px #edaf88,
        11px 11px 2px rgba(0, 0, 0, 0.7),
        15px 15px 1px #addad7,
        16px 16px 2px rgba(0, 0, 0, 0.7);
    -webkit-animation: text-snake 1s infinite alternate;
    -moz-animation: text-snake 1s infinite alternate;
    -ms-animation: text-snake 1s infinite alternate;
    animation: text-snake 1s infinite alternate;
    font-size: 90px;
    font-family: Arial;
}

@keyframes text-snake {
    from {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7),
            5px 5px 1px #f2cb7c,
            6px 6px 2px rgba(0, 0, 0, 0.7),
            10px 10px 1px #edaf88,
            11px 11px 2px rgba(0, 0, 0, 0.7),
            15px 15px 1px #addad7,
            16px 16px 2px rgba(0, 0, 0, 0.7);
    }

    to {
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7),
            -5px 5px 1px #f2cb7c,
            -6px 6px 2px rgba(0, 0, 0, 0.7),
            -10px 10px 1px #edaf88,
            -11px 11px 2px rgba(0, 0, 0, 0.7),
            -15px 15px 1px #addad7,
            -16px 16px 2px rgba(0, 0, 0, 0.7);
    }
}
/*scroll*/
body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #cbc6c7;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #dc97a9;
    /* color of the scroll thumb */
    border-radius: 15px;
    /* roundness of the scroll thumb */
    border: 3px solid #fbfaf8;
    /* creates padding around scroll thumb */
}
